@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  height: max-content;
  gap: 1rem;
}
.contactHeroContainer{
  display: flex;
  gap: 1rem;
  padding: 2rem;
  background-image: url("../images/contactbg.png");
  height: 80vh;
  background-repeat: no-repeat;
  background-size: contain;
  flex-direction:row-reverse;
}
.contactTextContainer{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  width: max-content;
  align-items: center;
  justify-content: center;
  height: max-content;
  align-self: center;
}
#contactFeed{
font-weight:300;
}
.heroFeed{
  font-size: 10rem;
  letter-spacing:-18px;
  text-align: center;
}
.titleSpan{
    background-color: #0090ff;
    text-shadow: -10px 10px 4px black;
    color: white;
    animation: slideIn 3s ease-in-out infinite alternate;
}