@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  height: max-content;
  gap: 1rem;
}


/* Main Section CSS */

.heroContainer {
  display: flex;
  flex-direction: column;
  height: max-content;
  padding: 2.5rem;
  align-items: center;
  justify-content: center;
  background-image: url('../images/agh.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  gap: 1rem;
}
.heroTitle {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  font-size: 12rem;
  text-align: center;
  letter-spacing:-18px;
}
.titleSpan{
    background-color: #E95420;
    color: white;
    text-shadow: -10px 10px 4px black;
}

#nameTitle{
    font-weight:300;
}
#heroBtn{
    padding: 15px;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    color: black;
    width: 10vw;
    cursor: pointer;
}
#heroBtn:hover{
    background-color: black;
    color: white;
    border: 2px solid black;
}
.carousel{
    width: 30vw;
    padding: 2rem;
}
.carousel-item{
    height: 70vh;
}
.carousel-item img {
    object-fit: contain;
    border-radius: 8px;
}
.carContainer{
    display: flex;
    gap: 2rem;
    justify-content: space-around;
}
.carText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 50vw;
}
.cText{
        font-size: 5rem;
        letter-spacing: -5px;
}
.carText button{
    padding: 15px;
    background-color: #E95420;
    border: none;
    border-radius: 8px;
    color: white;
    width: inherit;
    cursor: pointer;
}
.carText button:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

@media screen and (max-width:1300px){
    .carText{
        margin-top: 2rem;
        justify-content: start;
    }
}

@media screen and (max-width:1160px){
   .cText{
    font-size: 4rem;
   }
}
@media screen and (max-width:925px){
    .heroTitle{
        font-size: 9rem;
    }
    .cText{
    font-size: 3rem;
   }
}


@media screen and (max-width:704px){
    .heroTitle{
        font-size: 7rem;
        
    }
    .carText button{
        padding: 10px;
    }
    #heroBtn{
        width: 15vw;
    }
}
@media screen and (max-width: 625px) {
  .heroTitle{
        font-size: 6rem;
    }
    #heroBtn{
        width: 20vw;
    }
    .carText{
        display: flex;
        align-self: center;
        width: 90vw;
    }
    .carContainer{
        gap: 1rem;
    }
    .cText{
    font-size: 4rem;
    letter-spacing: 0px;
   }
   .carousel-item{
    height: max-content;
   }
}
@media screen and (max-width: 625px) {
    .carContainer{
        justify-content:center;
        gap: 1rem;
        flex-direction: column;
    }
    .carousel{
        width: 90vw;
        margin: auto;
    }
    .cText{
        text-align: center;
        font-size: 4rem;
    }
    .carText button{
        padding: 5px;
        font-size: 2rem;
    }
}
@media screen and (max-width: 455px) {
  .heroTitle{
        font-size: 6rem;
    }
    #heroBtn{
        width: 25vw;
    }
    .cText{
        font-size: 2rem;
    }
}
@media screen and (max-width:430px) {
    .heroTitle{
        font-size: 4rem;
        letter-spacing: -8px;
    }
    #nameTitle{
        font-size: 1rem;
    }
    #heroBtn{
        padding: 10px;
        width: 20vw;
        font-size: 0.5rem;
    }
}